body {
    background-color: #DAB5EF;
    max-width: 1200px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    height: 500px;
    weight: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 650px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.img{
    
    margin-top: 20px;
}

.item {
    width: 300px;
    height: 600px;
    display: flex;
    flex-flow: column;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-bottom: 20px;
    background-color: #492259;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    align-items: center;
    border-radius: 10px;
    border: 3px dashed #8ED91E;
}

button {
    background-color: #8ED91E;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: #00B367;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

#respuesta {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 150px;
    background-color: #B273BA;
    border-radius: 10px;
    text-align: center;
    
}

#pregunta {
   
}

.principal {
    
    width: 500px;
    
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: left;
}
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.empezar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #492259;
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    width: 500px;
    border: 5px dashed #8ED91E;
    height: 650px;
}

.reglas {
    background-color: #A558BD;
    opacity: 0.8;
    border-radius: 10px;
    color: #E1D7ED;
    width: 475px;
    border: 5px dashed #5B285A;
    padding-left: 10px;
}
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}